{{ bos_token }}
{%- for message in messages %}
{%- if message['role'] == 'system' %}{{ 'System: ' + message['content'] + '<|eot_id|>' }}
{%- elif message['role'] == 'user' %}{{ 'User: ' + message['content'] + '<|eot_id|>' }}
{%- else %}{{ 'Assistant: ' + message['content'] + '<|eot_id|>' }}
{%- endif %}
{%- endfor %}
{{ 'Assistant: ' }}
